body {
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    border: solid black 0.2vmin;
    border-radius: 2vmin;
    flex: 1;
    padding: 0.5vmin;
    align-items: center;
}


div {
    border: solid black 0.2vmin;
    border-radius: 1vmin;
    display: flex;
    flex: 1;
    padding: 0.3vmin;
    flex-direction: column;
    margin:0.4vmin;
}

div.form {
    flex: auto;
    place-items: auto;
    padding: 1vmin;
}

div.panel {
    padding: 5vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

table {
    display: block;
    position: sticky;    
    table-layout: auto;
    max-width: 90vmin;
    margin: auto;    
}

thead {
    outline: solid black 0.2vmin;
    border-radius: 1vmin;        
    width: 100%;
    flex: 0 0 auto;
    position: sticky;
}

tbody {
    outline: solid black 0.2vmin;
    border-radius: 1vmin;
    flex: 1 1 auto;
    flex-flow: column;
    overflow: scroll;
}

tr {
    border: solid black 0.4vmin;
    border-radius: 1vmin;
    padding: 0.3vmin;
    table-layout: fixed;
    min-width: 70vw;
    width: fit-content;
}

td {
    border: solid #f0f0f0aa 0.2vmin;
    border-radius: 1vmin;
    display: flexbox;
    max-width: 200vmin;
    font-size: 0.75em;
    padding: auto;
    margin: auto;
}

th {
    font-size: 0.75rem;
    
}