body {
    display: flex;
    flex-direction: column;
    width: 98vw;
    margin: 0px;
    padding: 0px;
}

h1,
h2 {
    border: solid #00000020 0.2vmin;
    border-radius: 2vmin;
    flex: 1;
    padding: 0.5vmin;
    text-align: center;
    align-items: center;
    align-content: center;    
    margin: 0.5vmin;
}


div {
    border: solid #00000010 0.2vmin;
    border-radius: 1vmin;
    display: flex;
    flex: 1;
    padding: 0.3vmin;
    flex-direction: column;
    margin: 0.4vmin;
    max-width: 100%;
}

div#app {
    border: solid #00000010 0.2vmin;
    margin: 0px;
    width: 100%;
}

div.form {
    flex: auto;
    place-items: auto;
    padding: 1vmin;
}

div.footer {
    flex: auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 1vmin;
}

div.footer>button {
    width: auto;
    margin: 0;
    padding: 2vmin;
    padding-right: 13vmin;
    padding-left: 13vmin;
}


div.panel {
    padding: 1vmin;
    margin-top: 1vmin;
    margin-bottom: 0.5vmin;
    width: 100%;
    border: none;
}

table {
    display: block;
    position: sticky;
    table-layout: auto;
    width: 100%;
    margin: 0;
    overflow-x: auto;
}

thead {
    outline: solid #00000010 0.2vmin;
    border-radius: 1vmin;
    width: auto;
    flex: 0 0 auto;
    position: sticky;
}

tbody {
    outline: solid #00000010 0.2vmin;
    max-width: 90vmin;
    border-radius: 1vmin;
    flex: 1 1 auto;
    flex-flow: column;
    overflow: scroll;
}

tr {
    border: solid #00000040 0.4vmin;
    border-radius: 1vmin;
    padding: 0.3vmin;
    table-layout: fixed;
    min-width: 70vmin;
    width: auto;
    max-width: 90vmin;
}
tr:nth-child(even){background-color: #f2f2f2;}


td {
    border: solid #f0f0f0aa 0.2vmin;
    border-radius: 1vmin;
    display: flexbox;
    width: auto;
    max-width: 50vmin;
    font-size: 0.75rem;
    padding: auto;
    margin: auto;
}

th {
    font-size: 0.75rem;

}


input.file-input {
    display: none;
}

button.delete {
    background: #dd000077;
}